In [1]:
import pandas as pd
# Read the data into dataframe
user_df = pd.read_csv('takehome_users.csv', encoding = "ISO-8859-1", parse_dates=['creation_time', 'last_session_creation_time'])
sum_df = pd.read_csv('takehome_user_engagement.csv', encoding = "ISO-8859-1", parse_dates=['time_stamp'])

# Get the basic info of the data
print(user_df.head(), sum_df.head())
print(user_df.info(), sum_df.info())
print(user_df.describe(), sum_df.describe())

   object_id       creation_time               name  \
0          1 2014-04-22 03:53:30     Clausen August
1          2 2013-11-15 03:45:04      Poole Matthew
2          3 2013-03-19 23:14:52  Bottrill Mitchell
3          4 2013-05-21 08:09:28    Clausen Nicklas
4          5 2013-01-17 10:14:20          Raw Grace

                        email creation_source last_session_creation_time  \
0    AugustCClausen@yahoo.com    GUEST_INVITE                 1398138810
1      MatthewPoole@gustr.com      ORG_INVITE                 1396237504
2  MitchellBottrill@gustr.com      ORG_INVITE                 1363734892
3   NicklasSClausen@yahoo.com    GUEST_INVITE                 1369210168
4          GraceRaw@yahoo.com    GUEST_INVITE                 1358849660

   opted_in_to_mailing_list  enabled_for_marketing_drip  org_id  \
0                         1                           0      11
1                         0                           0       1
2                         0                           0      94
3                         0                           0       1
4                         0                           0     193

   invited_by_user_id
0             10803.0
1               316.0
2              1525.0
3              5151.0
4              5240.0              time_stamp  user_id  visited
0 2014-04-22 03:53:30        1        1
1 2013-11-15 03:45:04        2        1
2 2013-11-29 03:45:04        2        1
3 2013-12-09 03:45:04        2        1
4 2013-12-25 03:45:04        2        1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null datetime64[ns]
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    12000 non-null object
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 937.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null datetime64[ns]
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB
None None
         object_id  opted_in_to_mailing_list  enabled_for_marketing_drip  \
count  12000.00000              12000.000000                12000.000000
mean    6000.50000                  0.249500                    0.149333
std     3464.24595                  0.432742                    0.356432
min        1.00000                  0.000000                    0.000000
25%     3000.75000                  0.000000                    0.000000
50%     6000.50000                  0.000000                    0.000000
75%     9000.25000                  0.000000                    0.000000
max    12000.00000                  1.000000                    1.000000

             org_id  invited_by_user_id
count  12000.000000         6417.000000
mean     141.884583         5962.957145
std      124.056723         3383.761968
min        0.000000            3.000000
25%       29.000000         3058.000000
50%      108.000000         5954.000000
75%      238.250000         8817.000000
max      416.000000        11999.000000                user_id   visited
count  207917.000000  207917.0
mean     5913.314197       1.0
std      3394.941674       0.0
min         1.000000       1.0
25%      3087.000000       1.0
50%      5682.000000       1.0
75%      8944.000000       1.0
max     12000.000000       1.0

In [2]:
# Parse the unix time into readable datetime
user_df.last_session_creation_time = pd.to_datetime(user_df.last_session_creation_time, unit='s')
user_df.last_session_creation_time

0       2014-04-22 03:53:30
1       2014-03-31 03:45:04
2       2013-03-19 23:14:52
3       2013-05-22 08:09:28
4       2013-01-22 10:14:20
5       2013-12-19 03:37:06
6       2012-12-20 13:24:32
7                       NaT
8                       NaT
9       2014-06-03 22:08:03
10      2013-12-27 03:55:54
11                      NaT
12      2014-03-30 16:19:38
13      2012-10-12 16:14:33
14                      NaT
15                      NaT
16      2014-04-12 14:39:38
17                      NaT
18      2013-05-30 14:56:36
19      2014-05-29 11:46:38
20      2013-01-22 12:27:42
21      2014-02-10 06:00:46
22      2012-08-18 08:30:27
23      2013-09-09 22:20:03
24      2014-02-26 00:11:13
25                      NaT
26      2014-01-15 17:35:11
27      2013-02-14 20:00:25
28      2013-09-17 02:08:41
29      2013-06-04 00:44:25
                ...
11970                   NaT
11971                   NaT
11972                   NaT
11973   2012-12-28 16:42:08
11974   2014-05-22 11:10:11
11975                   NaT
11976   2013-09-20 18:58:51
11977                   NaT
11978   2013-01-31 09:26:33
11979   2014-04-18 15:23:18
11980   2013-04-02 01:53:48
11981   2013-12-06 14:39:15
11982   2013-07-30 00:23:36
11983   2014-02-11 21:26:11
11984                   NaT
11985   2012-07-01 01:02:14
11986   2013-03-15 03:21:01
11987   2014-06-01 11:04:47
11988   2013-09-07 11:24:33
11989   2013-07-06 21:00:48
11990   2014-05-30 14:22:45
11991   2014-04-11 19:39:56
11992                   NaT
11993                   NaT
11994   2013-10-22 13:33:17
11995   2013-09-06 06:14:15
11996   2013-01-15 18:28:37
11997   2014-04-27 12:45:16
11998   2012-06-02 11:55:59
11999   2014-01-26 08:57:12
Name: last_session_creation_time, Length: 12000, dtype: datetime64[ns]

In [3]:
import datetime
df2 = sum_df.copy()
df2 = df2.set_index('user_id')
# Creation a new column equals each loggin timestamp + 7days
df2['7+'] = df2['time_stamp'] + datetime.timedelta(days=7)
df2['ad_user'] = 0

# loop over each user id and each timestamp, if for any user, if exist 3 logins within 7 days, mark as adoped user(ad_user = 1)
for i in df2.index.unique():
    
    if (len(df2.loc[i].shape)>1) & (len(df2.loc[i]) >= 3):
        for j in range(len(df2.loc[i])-2):
            
            if df2.loc[i].iloc[j+2]['time_stamp'] < df2.loc[i].iloc[j]['7+']:
                df2.at[i,'ad_user'] = 1
                
                break

df2

                 time_stamp  visited                  7+  ad_user
user_id
1       2014-04-22 03:53:30        1 2014-04-29 03:53:30        0
2       2013-11-15 03:45:04        1 2013-11-22 03:45:04        1
2       2013-11-29 03:45:04        1 2013-12-06 03:45:04        1
2       2013-12-09 03:45:04        1 2013-12-16 03:45:04        1
2       2013-12-25 03:45:04        1 2014-01-01 03:45:04        1
2       2013-12-31 03:45:04        1 2014-01-07 03:45:04        1
2       2014-01-08 03:45:04        1 2014-01-15 03:45:04        1
2       2014-02-03 03:45:04        1 2014-02-10 03:45:04        1
2       2014-02-08 03:45:04        1 2014-02-15 03:45:04        1
2       2014-02-09 03:45:04        1 2014-02-16 03:45:04        1
2       2014-02-13 03:45:04        1 2014-02-20 03:45:04        1
2       2014-02-16 03:45:04        1 2014-02-23 03:45:04        1
2       2014-03-09 03:45:04        1 2014-03-16 03:45:04        1
2       2014-03-13 03:45:04        1 2014-03-20 03:45:04        1
2       2014-03-31 03:45:04        1 2014-04-07 03:45:04        1
3       2013-03-19 23:14:52        1 2013-03-26 23:14:52        0
4       2013-05-22 08:09:28        1 2013-05-29 08:09:28        0
5       2013-01-22 10:14:20        1 2013-01-29 10:14:20        0
6       2013-12-19 03:37:06        1 2013-12-26 03:37:06        0
7       2012-12-20 13:24:32        1 2012-12-27 13:24:32        0
10      2013-01-16 22:08:03        1 2013-01-23 22:08:03        1
10      2013-01-22 22:08:03        1 2013-01-29 22:08:03        1
10      2013-01-30 22:08:03        1 2013-02-06 22:08:03        1
10      2013-02-04 22:08:03        1 2013-02-11 22:08:03        1
10      2013-02-06 22:08:03        1 2013-02-13 22:08:03        1
10      2013-02-14 22:08:03        1 2013-02-21 22:08:03        1
10      2013-02-17 22:08:03        1 2013-02-24 22:08:03        1
10      2013-02-19 22:08:03        1 2013-02-26 22:08:03        1
10      2013-02-26 22:08:03        1 2013-03-05 22:08:03        1
10      2013-03-01 22:08:03        1 2013-03-08 22:08:03        1
...                     ...      ...                 ...      ...
11988   2014-04-28 11:04:47        1 2014-05-05 11:04:47        1
11988   2014-04-29 11:04:47        1 2014-05-06 11:04:47        1
11988   2014-04-30 11:04:47        1 2014-05-07 11:04:47        1
11988   2014-05-04 11:04:47        1 2014-05-11 11:04:47        1
11988   2014-05-08 11:04:47        1 2014-05-15 11:04:47        1
11988   2014-05-14 11:04:47        1 2014-05-21 11:04:47        1
11988   2014-05-17 11:04:47        1 2014-05-24 11:04:47        1
11988   2014-05-18 11:04:47        1 2014-05-25 11:04:47        1
11988   2014-05-19 11:04:47        1 2014-05-26 11:04:47        1
11988   2014-05-20 11:04:47        1 2014-05-27 11:04:47        1
11988   2014-05-21 11:04:47        1 2014-05-28 11:04:47        1
11988   2014-05-23 11:04:47        1 2014-05-30 11:04:47        1
11988   2014-05-24 11:04:47        1 2014-05-31 11:04:47        1
11988   2014-05-26 11:04:47        1 2014-06-02 11:04:47        1
11988   2014-05-27 11:04:47        1 2014-06-03 11:04:47        1
11988   2014-06-01 11:04:47        1 2014-06-08 11:04:47        1
11989   2013-09-07 11:24:33        1 2013-09-14 11:24:33        0
11990   2013-07-06 21:00:48        1 2013-07-13 21:00:48        0
11991   2014-04-20 14:22:45        1 2014-04-27 14:22:45        0
11991   2014-04-25 14:22:45        1 2014-05-02 14:22:45        0
11991   2014-04-28 14:22:45        1 2014-05-05 14:22:45        0
11991   2014-05-17 14:22:45        1 2014-05-24 14:22:45        0
11991   2014-05-30 14:22:45        1 2014-06-06 14:22:45        0
11992   2014-04-11 19:39:56        1 2014-04-18 19:39:56        0
11995   2013-10-22 13:33:17        1 2013-10-29 13:33:17        0
11996   2013-09-06 06:14:15        1 2013-09-13 06:14:15        0
11997   2013-01-15 18:28:37        1 2013-01-22 18:28:37        0
11998   2014-04-27 12:45:16        1 2014-05-04 12:45:16        0
11999   2012-06-02 11:55:59        1 2012-06-09 11:55:59        0
12000   2014-01-26 08:57:12        1 2014-02-02 08:57:12        0

[207917 rows x 4 columns]

In [5]:
import numpy as np
df3 = df2.groupby(df2.index).sum()
# Set the Target column
df3['Target'] = np.where(df3.ad_user>0, 1, 0)


# Drop the columns that obviously has no effect on the target
df1 = user_df.drop(['creation_time', 'name', 'email','last_session_creation_time'], 1)
df1 = df1.set_index('object_id').join(df3.Target)
# fill the missing values with 0
df1 = df1.fillna(0)
# Convert the 'creation_source' feature into 0-1's
df1.creation_source = pd.get_dummies(df1.creation_source)
y = df1.Target
X = df1

In [6]:
y.value_counts()

0.0    10398
1.0     1602
Name: Target, dtype: int64

In [8]:
# Unsing the Naive Bayes algorithm to build the predictive model
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from imblearn.over_sampling import SMOTE

# Split the data set into training set and test set, the size of the test set is 1/5 of the original data set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

# use SMOTE to over-sampling the train data
sm = SMOTE(random_state=10, ratio = 1.0)
X_train_res, y_train_res = sm.fit_sample(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:77: DeprecationWarning: Function _ratio_float is deprecated; Use a float for 'ratio' is deprecated from version 0.2. The support will be removed in 0.4. Use a dict, str, or a callable instead.
  warnings.warn(msg, category=DeprecationWarning)

In [9]:
# Set the parameters by cross-validation
tuned_parameters = {'alpha':[0.0001,0.001,0.01,0.1,1,10]}
scores = ['precision', 'recall']

for score in scores:
    print("# Tuning hyper-parameters for %s" % score)
    print()

    clf = GridSearchCV(MultinomialNB(class_prior=[0.75,0.25]), tuned_parameters, cv=5,
                       scoring='%s_macro' % score)
    clf.fit(X_train_res, y_train_res)

    print("Best parameters set found on development set:")
    print()
    print(clf.best_params_)
    print()
    print("Grid scores on development set:")
    print()
    means = clf.cv_results_['mean_test_score']
    stds = clf.cv_results_['std_test_score']
    for mean, std, params in zip(means, stds, clf.cv_results_['params']):
        print("%0.3f (+/-%0.03f) for %r"
              % (mean, std * 2, params))
    print()

    print("Detailed classification report:")
    print()
    print("The model is trained on the full development set.")
    print("The scores are computed on the full evaluation set.")
    print()
    y_true, y_pred = y_test, clf.predict(X_test)
    print(classification_report(y_true, y_pred))
    print()

# Tuning hyper-parameters for precision

Best parameters set found on development set:

{'alpha': 0.0001}

Grid scores on development set:

0.693 (+/-0.068) for {'alpha': 0.0001}
0.669 (+/-0.059) for {'alpha': 0.001}
0.649 (+/-0.057) for {'alpha': 0.01}
0.629 (+/-0.048) for {'alpha': 0.1}
0.608 (+/-0.044) for {'alpha': 1}
0.586 (+/-0.033) for {'alpha': 10}

Detailed classification report:

The model is trained on the full development set.
The scores are computed on the full evaluation set.

             precision    recall  f1-score   support

        0.0       0.95      0.52      0.67      2579
        1.0       0.22      0.84      0.35       421

avg / total       0.85      0.56      0.63      3000


# Tuning hyper-parameters for recall

Best parameters set found on development set:

{'alpha': 0.0001}

Grid scores on development set:

0.674 (+/-0.055) for {'alpha': 0.0001}
0.656 (+/-0.050) for {'alpha': 0.001}
0.640 (+/-0.051) for {'alpha': 0.01}
0.623 (+/-0.044) for {'alpha': 0.1}
0.605 (+/-0.042) for {'alpha': 1}
0.584 (+/-0.032) for {'alpha': 10}

Detailed classification report:

The model is trained on the full development set.
The scores are computed on the full evaluation set.

             precision    recall  f1-score   support

        0.0       0.95      0.52      0.67      2579
        1.0       0.22      0.84      0.35       421

avg / total       0.85      0.56      0.63      3000